<!DOCTYPE html>
<html>
  <head>
    <title>MY TODO APP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div>
      <div class="container">
        <h1>MY TODO APP</h1>
        <div class="tasks-container">
          <h2>Tasks:</h2>
          <ul>
            {% for task in tasks %}
            <li>
              {{ task[1] }} ({{ task[2] }})
              <div>
                <a href="{{ url_for('edit', task_id=task[0]) }}">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{{ url_for('delete', task_id=task[0]) }}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="add-btn">
            <a href="{{ url_for('add') }}">Add New Task</a>
          </div>

          <form
            method="get"
            action="{{ url_for('index') }}"
            class="search-form"
          >
            <input type="text" name="keyword" placeholder="Từ khóa tìm kiếm" />
            <select name="category">
              <option value="">Tất cả danh mục</option>
              {% for category in categories %}
              <option value="{{ category[0] }}">{{ category[0] }}</option>
              {% endfor %}
            </select>
            <button type="submit">Tìm kiếm và lọc</button>
          </form>
          <div class="logout-btn">
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
